@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #854ce6;
  --secondary-color: #1c1c27;
  --text-color: #fff;
  --sub-text-color: #ccc;
  --white-color: #fff;
  --navbar-shadow: 0 2px 10px 2px #191924;
  --shadow-outline: 0 4px 24px rgba(133, 76, 230, 0.15);
  --grey-scale: none;
  --modal-bg: #171721;

  /* glass box */
  --glass-bg: rgba(25, 25, 33, 0.8);
  --filter: blur(10px);
}

[data-theme="light"] {
  --primary-color: #854ce6;
  --secondary-color: #f0f0f0;
  --text-color: #1c1c27;
  --sub-text-color: #999;
  --white-color: #fff;
  --navbar-shadow: 0 2px 10px 2px #191924;
  --grey-scale: brightness(100%) invert(1);
  --shadow-outline: 0 4px 24px rgba(133, 76, 230, 0.4);
  --modal-bg: #fff;

  /* glass box */
  --glass-bg: rgba(255, 255, 255, 0.9);
  --filter: blur(10px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.025s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.loader {
  border-radius: 20px;
  background-color: var(--glass-bg) !important;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  height: 100vh;
  width: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}

html::-webkit-scrollbar-track {
  background: var(--modal-bg);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

body {
  padding: 0 !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.25s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.fade {
  transition: all 0.15s ease-out !important;
}

.logo {
  filter: var(--grey-scale);
}

nav.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
  transition: all 0.25s ease-in;
  background-color: var(--secondary-color);
}

nav.navbar.scrolled {
  background-color: var(--secondary-color);
  box-shadow: var(--navbar-shadow);
}

.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
  padding: auto 0 !important;
  color: var(--text-color) !important;
}

.nav-link::after,
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after,
.active::after {
  padding: 0 10px;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler i {
  color: var(--text-color);
  font-size: 24px;
}

body {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

.btn-setting {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.change-theme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 0px;
  margin: 0 20px;
}

#home {
  margin: 0 auto;
  padding-top: 100px;
}

#about,
#skills,
#projects,
#experiences,
#contact {
  padding-top: 0;
}

.banner {
  margin-top: 100px;
}

.banner-left,
.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
  height: 450px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
  align-items: flex-start;
  color: var(--text-color);
  height: 350px;
}

.banner-right {
  align-items: center;
  justify-content: center;
}

.banner-left p {
  color: var(--sub-text-color);
  font-size: 18px;
  font-weight: 600;
}

.banner-left h1 {
  font-weight: 700;
  font-size: 52px;
}

.banner-left h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
}

.typing-effect {
  font-size: 24px;
}

.btn-banner-left {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-banner-left:hover {
  background-color: rgba(133, 76, 230, 0.6);
  color: var(--white-color);
}

.btn-banner-right {
  background-color: rgba(133, 76, 230, 0.08);
  color: var(--primary-color);
}

.btn-banner-right:hover {
  background-color: rgba(133, 76, 230, 0.5);
  color: var(--white-color);
}

.banner-right img {
  object-fit: cover;
  width: 100%;
}

.section-head {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid var(--sub-text-color);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.title {
  color: var(--primary-color);
  font-weight: 600;
}

.subtitle {
  color: var(--sub-text-color);
}

.about-content,
.skills-content {
  margin: 0 auto !important;
}

.about-img {
  width: 250px;
  height: 250px;
  transform: rotate(45deg);
  overflow: hidden;
  box-shadow: 0 1px 10px 3px rgba(133, 76, 230, 0.8);
  margin: 100px auto;
}

.about-img img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
  transform: rotate(-45deg) scale(1.42);
}

.about-msg {
  text-indent: 10px;
  font-weight: 300;
  line-height: 25px;
}

.about-msg span {
  color: var(--primary-color);
  letter-spacing: 1px;
}

.frontend-box,
.backend-box {
  background: var(--glass-bg);
  backdrop-filter: var(--filter);
  padding: 20px 10px;
  border-radius: 5px;
  color: var(--white-color);
  box-shadow: var(--shadow-outline);
  border: 0.1px solid var(--primary-color);
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 20px 0;
}

.box-skills {
  background-color: transparent;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: var(--text-color);
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.box-skills h6 {
  margin-bottom: 0;
}

.frontend-box h5,
.backend-box h5 {
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
}

.box-skills img {
  width: 20px;
}

.btn-group {
  gap: 20px;
  margin-bottom: 20px;
}

.project-btn {
  font-weight: 600;
}

.project-active {
  background-color: rgba(133, 76, 230, 0.5);
  color: var(--text-color);
}

.project-box {
  padding: 15px;
  background-color: var(--glass-bg) !important;
  color: var(--text-color) !important;
  backdrop-filter: var(--filter);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  height: 400px !important;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 10px;
}

.project-date {
  font-weight: 400;
  font-size: 12px;
  color: var(--sub-text-color);
}

.project-desc {
  color: var(--sub-text-color);
}

.project-box img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-demo {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.stack-box {
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
}

.stack {
  background-color: rgba(133, 76, 230, 0.08);
  padding: 5px 15px;
  margin: 5px 5px;
  border-radius: 20px;
  color: var(--primary-color);
  font-size: 12px;
}

.modal {
  overflow-y: hidden !important;
}

.modal-dialog {
  max-width: 600px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 30px !important;
}

.modal-content {
  background-color: var(--modal-bg) !important;
  color: var(--text-color) !important;
}

.modal-header {
  border-bottom: 0 !important;
  padding: 0 !important;
}

.btn-close-modal {
  border: none;
  font-size: 24px;
  background-color: transparent;
  color: var(--text-color) !important;
}

.img-modal {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.project-content {
  margin-top: 20px;
}

.modal-title {
  font-size: 28px !important;
}

.modal-link-group {
  display: flex;
  gap: 20px;
}

.btn-modal-link {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-modal-link:hover {
  background-color: rgba(133, 76, 230, 0.6);
  color: var(--text-color);
}

.btn-modal-git {
  width: 100%;
  background-color: rgb(28, 30, 39);
  color: var(--text-color);
}

.btn-modal-git:hover {
  background-color: rgba(133, 76, 230, 0.6);
  color: var(--text-color);
}

.event-list {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  list-style: none;
  box-shadow: 0 1px 10px 3px rgba(133, 76, 230, 0.6);
  transition: all 0.25s ease-in;
  background-color: var(--glass-bg);
  backdrop-filter: var(--filter);
}

.event-list:hover {
  transform: translateX(10px);
  box-shadow: 0 1px 10px 2px rgba(133, 76, 230, 0.2);
}

.element-group {
  margin: 20px;
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.circle-exp {
  width: 100%;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.line-exp {
  width: 3px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  margin: 20px auto 0 auto;
}

.exp-title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 24px;
}

.exp-location-date {
  font-size: 18px;
  font-weight: normal;
  color: var(--sub-text-color);
}

.exp-desc {
  color: var(--sub-text-color);
  font-weight: normal;
  padding: 20px 0;
  margin-bottom: 0;
}

.exp-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 10px;
}

.btn-exp {
  margin-top: 20px;
  background-color: rgba(133, 76, 230, 0.8);
  color: var(--text-color);
}

.btn-exp:hover {
  background-color: rgba(133, 76, 230, 0.5);
}

.social-box {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.25s ease-in;
  margin: 30px 20px;
  box-shadow: var(--shadow-outline);
}

.social-box i {
  font-size: 24px;
}

.social-box:hover {
  background-color: rgba(133, 76, 230, 0.8);
  color: var(--text-color);
  box-shadow: var(--shadow-outline);
  transform: translateY(-10px);
}

.footer-name {
  color: var(--primary-color);
  font-weight: 700;
  margin-top: 20px !important;
}

.img-footer {
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center bottom;
  margin-bottom: 20px;
}

.copy-right {
  margin-top: 30px !important;
}

@media (min-width: 576px) {
  .change-theme {
    margin: 0 auto;
  }
  .banner-left,
  .banner-right {
    height: 600px;
  }

  #about,
  #skills,
  #projects,
  #experiences,
  #contact {
    padding-top: 100px;
  }

  .about-content {
    padding-top: 100px;
  }

  .about-img {
    margin-top: 0;
  }
}
